/* Start Global Section */
:root {
  --main-color: #0424d7;
  --main-color-alpha: rgba(4, 36, 215, 0.5);
  --secondary-color: #03b6cc;
  --secondary-color-alpha: rgba(3, 181, 204, 0.5);
  --secondary-color-alpha1: rgba(3, 181, 204, 0.25);
  --main-alt-color: #fded02;
  --secondary-alt-color: #d1ccd2;
  --white-color: #ffffff;
  --bg-color: #fbfbfb;
  --black-color: #000000;
  --black-color-alpha: rgba(0, 0, 0, 0.75);
  --text-color: #0f0f0f;
  --main-transition: 0.2s;
  --secondary-transition: 0.5s;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--secondary-transition);
}
.container {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-left: auto;
  margin-right: auto;
}
/* End Global Section */
/* Styles for desktop screens */
@media only screen and (min-width: 1024px) {
  /* Add desktop-specific styles here */
}
/* Styles for tablet screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Add tablet-specific styles here */
}
/* Styles for mobile screens */
@media only screen and (max-width: 767px) {
  /* Add mobile-specific styles here */
}
/* == Start Header Section Styling == */
.header {
  height: 6rem;
  width: 100%;
  padding: 0rem;
  box-shadow: 0rem 0rem 1rem var(--secondary-alt-color);
}
.header .nav_bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_bar .logo_link {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  padding: 0.25rem;
}
.nav_bar .logo_link img {
  width: 5rem;
  max-width: 100%;
}
.nav_bar .links {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 9;
  list-style: none;
}
.nav_bar .links > li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.nav_bar .links > li > .link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  transition: var(--main-transition);
}
.nav_bar .links > li:hover .link,
.nav_bar .links > li:hover .link.active {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.nav_bar .links > li > button {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 4rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.nav_bar .links > li:hover button {
  color: var(--white-color);
}
.nav_bar .links > li > button > svg {
  font-size: 2rem;
}
.nav_bar .links li > .b_links {
  position: absolute;
  background-color: var(--secondary-color);
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: 100%;
  right: 0rem;
  box-shadow: 0rem 0rem 1rem var(--secondary-alt-color);
}
.nav_bar .links li > .b_links.inactive {
  display: none;
}
.nav_bar .links li > .b_links > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: var(--main-transition);
}
.nav_bar .links li > .b_links > li:not(:hover) .b_link {
  opacity: 0.8;
}
.nav_bar .links li > .b_links > li:hover {
  box-shadow: 0rem 0rem 1rem var(--white-color),
    0rem 0rem 1rem var(--white-color);
}
.nav_bar .links li > .b_links > li > .b_link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.25rem;
}
.nav_bar .links li > .b_links > li:hover .b_link {
  text-shadow: 0rem 0rem 1rem var(--white-color),
    0rem 0rem 1rem var(--white-color);
}
.nav_bar .menu {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: var(--main-transition);
  position: relative;
  z-index: 9;
}
.nav_bar .menu .holder {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.nav_bar .menu .holder .bar {
  width: 100%;
  height: 0.25rem;
  background-color: var(--secondary-color);
  margin: 0.25rem 0;
  transition: var(--secondary-transition);
}
.nav_bar .menu .holder .bar.active:nth-of-type(1) {
  transform: rotate(45deg) translate(0.65rem, 0.65rem);
}
.nav_bar .menu .holder .bar.active:nth-of-type(2) {
  transform: translateX(-100%);
}
.nav_bar .menu .holder .bar.active:nth-of-type(3) {
  transform: rotate(-45deg) translate(0.65rem, -0.65rem);
}
.nav_bar .mode {
  height: 2rem;
  width: 4rem;
  background-color: var(--secondary-color);
  z-index: 2;
  cursor: pointer;
  border-radius: 3rem;
  margin-left: 1rem;
  position: relative;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: var(--main-transition);
}
.nav_bar .mode button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 0%;
  cursor: pointer;
  transition: var(--secondary-transition);
}
.nav_bar .mode button.inactive {
  background-color: #333;
  border: 0.25rem solid #1effff;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  transition: var(--main-transition);
}
.nav_bar .mode svg {
  font-size: 2rem;
  color: #fded02;
  transition: var(--main-transition);
}
.nav_bar .mode:hover svg {
  scale: 1.1;
  transition: var(--main-transition);
}
#dark_btn {
  right: 0%;
}
#dark_btn svg {
  color: var(--secondary-alt-color);
}
#light_btn {
  left: 0%;
}
#light_btn svg {
  color: var(--main-alt-color);
}
@media (max-width: 767px) {
  .nav_bar .links {
    flex-direction: column;
    height: 100%;
    width: 85%;
    background-color: var(--black-color-alpha);
    backdrop-filter: blur(5px);
    margin-left: 0;
    position: fixed;
    bottom: 0;
    left: -100%;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
  }
  .nav_bar .links.active {
    left: 0;
    padding: 0;
    margin: 0;
    transition: var(--main-transition);
  }
  .nav_bar .links > li {
    height: 4rem;
    width: 100%;
    position: relative;
  }
  .nav_bar .links > li > .link {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .nav_bar .links li > .b_links {
    background-color: var(--secondary-color);
    width: 100%;
    z-index: 9;
    padding: 0;
  }
  .nav_bar .mode {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
    z-index: 0;
    padding: 0.25rem 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .nav_bar .links > li > .link {
    padding: 0rem 0.25rem;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .nav_bar .menu {
    display: none;
  }
}
/* == End Header Section Styling == */
/* == Start Landing Section Styling == */
.landing {
  position: relative;
  height: calc(100vh - 6rem);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 3rem;
}
.landing .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 2rem;
}
.landing .container .search_box {
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.landing .container .search_box .search_input {
  padding: 0.5rem 1rem;
  flex-basis: 60%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0 0.75rem;
  font-size: 1.25rem;
  color: var(--secondary-color);
  box-shadow: 0 0 1rem #ccc;
}
.landing .container .search_box .search_icon {
  padding: 0.5rem;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 0.75rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1rem #ccc;
  transition: var(--main-transition);
}
.landing .container .search_box .search_icon:hover {
  background-color: var(--main-color-alpha);
}
.landing .container .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.landing .container .content .img {
  background-image: url(../imgs/bg.png);
  background-size: cover;
  /* width: 20rem; */
  position: relative;
  height: 100%;
  flex-basis: 45%;
  overflow: hidden;
  border-radius: 50%;
}
.landing .container .img img {
  max-width: 100%;
}
.landing .container .img img:nth-child(1) {
  transform: translateY(0.5rem);
}
.landing .container .img img:nth-child(2) {
  z-index: 0;
  filter: drop-shadow(0rem 0rem 1rem #444);
}
.landing .container .txt {
  flex-basis: 45%;
  position: relative;
  color: var(--white-color);
  text-align: center;
}
.landing .container .txt::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../imgs/a.png);
  background-size: cover;
  z-index: -1;
}
.landing .container .txt h1 {
}
.landing .container .txt h2 {
}
.landing .txt p:nth-of-type(1) {
}
.landing .txt p:nth-of-type(2) {
}
.landing .social_media {
}
.landing .social_media .social_link {
}
.landing .social_media .social_link > svg {
}
/* == End Landing Section Styling == */
@media (max-width: 767px) {
  .landing {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: relative;
  }
  .landing .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .landing .container .search_box {
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
  }

  .landing .container .content .img {
    max-width: 100%;
    position: relative;
    flex-basis: 100%;
    right: 0rem;
  }
  .landing .container .txt {
    flex-basis: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    z-index: 1;
  }
}

.about {
  background-color: var(--secondary-color);
  height: 100vh;
  overflow: hidden;
}
